
/* Tipos de selectores */

/* .selector-clase */
/* selector-elemento */
/* [selector-atributo] */
/* #selector-id */
/* el anidamiento se puede hacer de dos formas: primerSelector > segundo-selector, primerSelector segundoSelector */

/* primerSelector > segundo-selector tercerSelector > cuartoSelector{
    <primerSelector>
     <segundoSelector>
    </primerSelector>
}

<primerSelector>
     <selector>
        <segundoSelector>
    </selector>
    </primerSelector> */

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.color-blanco {
    color: #fff;
}
.color-fondo-blanco {
    background-color: #fff;
}

.color-amarillo {
    color: #EAC926;
}
.color-fondo-amarillo {
  background-color: #EAC926;
}

.color-azul {
    color: #03264C;
}
.color-fondo-azul {
    background-color: #03264C;
}

.color-celeste {
    color: #1259c3;
}
.color-fondo-celeste {
    background-color: #1259c3;
}

.color-gris-oscuro {
    color: #666;
}
.color-fondo-gris-oscuro {
    background-color: #666;
}

.color-gris-claro {
    color: #ebebeb;
}
.color-fondo-gris-claro {
    background-color: #ebebeb;
}

.color-verde {
    color: #39b54a;
}
.color-fondo-verde {
    background-color: #39b54a;
}

.boton-primario {
    background-color: #1259c3;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 2px;
    padding: 8px;
}
.boton-secundario {
    background-color: #666;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 2px;
    padding: 8px;
}
.icono-Footer {
    font-size: 2em;
    background-color: #fff;
    margin-bottom: 10px;
    color: #1259c3;


}
.links-header{
    margin-left: 10px;
    margin-right: 10px;
}
.circle {

    position: absolute;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 10px;
    outline-color: #39b54a;
    border: 2px solid #39b54a;
}
.truck {
    position: absolute;
    left: 2px;
    width: 1%;
}
.articulo {
    position: relative;
    border-bottom: 10px solid #ebebeb;
    border-top: 10px solid #ebebeb ;
}
.articulo-div {
    box-shadow: 0 0 10 rgb(100, 100, 100);
    border-top: 2px solid #ebebeb ;
    padding: 15px;
}
.desplegar-info-articulo1 {
    text-align: left;
    display: none;
}
.desplegar-info-articulo2 {
    display: none;
    text-align: left;
}
.desplegar-info-articulo3 {
    display: none;
    text-align: left;
}
.desplegar-info-articulo4 {
    display: none;
    text-align: left;
}
.desplegar-info-articulo5 {
    display: none;
    text-align: left;
}
.desplegar-info-articulo6 {
    display: none;
    text-align: left;
}
.desplegar-info-articulo7 {
    display: none;
    text-align: left;
}
.desplegar-info-articulo8 {
    display: none;
    text-align: left;
}
.ancho-main{
    width: 90%;
}
.iconos-header {
    color: black;

}
.iconos-main {
    color: #39b54a;
}
.input-texto {
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.text-align-center {
    text-align: center;
}
.ocultar {
    display: none;
}
.burger-menu-contenedor {
    display: none;
}

/* .burger-menu:active > .burger-menu-contenedor {
    display: block;
} */

#check:checked ~ .burger-menu-contenedor {
    display: block;
}
#check1:checked ~ .desplegar-info-articulo1 {
    display: block;
}
#check2:checked ~ .desplegar-info-articulo2 {
    display: block;
}
#check3:checked ~ .desplegar-info-articulo3 {
    display: block;
}
#check4:checked ~ .desplegar-info-articulo4 {
    display: block;
}
#check5:checked ~ .desplegar-info-articulo5 {
    display: block;
}
#check6:checked ~ .desplegar-info-articulo6 {
    display: block;
}
#check7:checked ~ .desplegar-info-articulo7 {
    display: block;
}
#check8:checked ~ .desplegar-info-articulo8 {
    display: block;
}
.menu1 {
    display: block;
}
.menu2 {
    display: none;
}
.home-conteiner-img {
    width: 100%;
}
nav {
    padding: 1.5rem 2rem;
    background-color: #EAC926;
    color: #fff;
}
@media (min-width: 768px) {
    header {
        .menu1 {
            display: none;
        }
        .burger-menu-contenedor{
            display: none;
        }
        .menu2 {
            display: block;
        }
        
    }
    main {
        .circle {
            left: 47%;
        }
        .desplegar-info-articulo1{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo2{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo3{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo4{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo5{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo6{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo7{
            display: block;
            text-align: center;
        }
        .desplegar-info-articulo8{
            display: block;
            text-align: center;
        }
    }
        
}