
/* Tipos de selectores */

/* .selector-clase */
/* selector-elemento */
/* [selector-atributo] */
/* #selector-id */
/* el anidamiento se puede hacer de dos formas: primerSelector > segundo-selector, primerSelector segundoSelector */

/* primerSelector > segundo-selector tercerSelector > cuartoSelector{
    <primerSelector>
     <segundoSelector>
    </primerSelector>
}

<primerSelector>
     <selector>
        <segundoSelector>
    </selector>
    </primerSelector> */

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.color-blanco {
    color: #fff;
}
.color-fondo-blanco {
    background-color: #fff;
}

.color-amarillo {
    color: #EAC926;
}
.color-fondo-amarillo {
  background-color: #EAC926;
}

.color-azul {
    color: #03264C;
}
.color-fondo-azul {
    background-color: #03264C;
}

.color-celeste {
    color: #1259c3;
}
.color-fondo-celeste {
    background-color: #1259c3;
}

.color-gris-oscuro {
    color: #666;
}
.color-fondo-gris-oscuro {
    background-color: #666;
}

.color-gris-claro {
    color: #ebebeb;
}
.color-fondo-gris-claro {
    background-color: #ebebeb;
}

.color-verde {
    color: #39b54a;
}
.color-fondo-verde {
    background-color: #39b54a;
}

.boton-primario {
    background-color: #1259c3;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 2px;
    padding: 8px;
}
.boton-secundario {
    background-color: #666;
    border: none;
    color: #fff;
    outline: none;
    border-radius: 2px;
    padding: 8px;
}
.icono-Footer {
    font-size: 2em;
    background-color: #fff;
    margin-bottom: 10px;
    color: #1259c3;


}
.links-header{
    margin-left: 8px;
    margin-right: 8px;
}
.circle {
    position: relative;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    padding: 10px;
    outline-color: #39b54a;
    border: 2px solid #39b54a;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-top: -15px;
    margin-right: 20px;
    z-index: 3;
}
/* .truck {
    position: absolute;
    left: 2px;
    width: 1%;
} */

.seccion-articulo {
    display: flex;    
    flex-wrap: wrap;
}

.articulo {
    width: 100%;
    flex: 0 1 100%;
    position: relative;
    box-shadow: 0 0 10px rgb(100, 100, 100);
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
}

.articulo-precio {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    div:first-child {
        width: 30%;
    }
    div:last-child {
        width: 70%;
    }
}

.articulo img {
    max-width: 100%;
    max-height: 350px;
}

.articulo-div {
    border-top: 2px solid #ebebeb ;
}
.desplegar-info-articulo {
    text-align: left;
    display: none;
}
.ancho-main{
    width: 90%;
}
.iconos-header {
    color: black;

}
.iconos-main {
    color: #39b54a;
}
.input-texto {
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.text-align-center {
    text-align: center;
}
.ocultar {
    display: none;
}
.burger-menu-contenedor {
    display: none;
    border-top: 20px;
}

#check:checked ~ .burger-menu-contenedor {
    display: block;
}

.articulo .checkbox-detalle-articulo:checked ~ .desplegar-info-articulo {
    display: block;
}

.menu1 {
    display: block;
    width: 100%;
}
.menu2 {
    display: none;
}
.home-conteiner-img {
    width: 100%;
}
nav {
    padding: 1.5rem 2rem;
    background-color: #EAC926;
    color: #fff;
}
.img-header {
    width: 45%;
}
.buscador-header{
    /* display: flex; */
    width: 50%;
    margin-top: 20px;
}
.compra-cuotas-header{
    width 100%;
    text-align: center;
}
/* .button-buscador {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    margin-right: 
} */
@media (min-width: 320px) {
    header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
}


@media (min-width: 768px) {
    header {
        .menu1 {
            display: none;
        }
        .burger-menu-contenedor{
            display: none;
        }
        .menu2 {
            display: block;
        }
        .img-header {
            width: 35%;
        }
        .buscador-header{
            width: 25%;
        }
        .compra-cuotas-header{
            width: 25%;
        }
        
    }
    main {
        .desplegar-info-articulo{
            display: block;
            text-align: center;
        }
        
    }

    .articulo {
        width: 40%;
        flex: 0 1 40%;
    }        
}

@media (min-width: 1024px) {
    .articulo {
        width: 20%;
        flex: 0 1 20%;
    }   
}